* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFF;
    color: #FFF;
}

/* Custom fonts */
@font-face {
    font-family: 'HUGE Avant Garde Bold';
    src: url('../fonts/huge_agb_v5-webfont.ttf')    
}

@font-face {
    font-family: 'Galaxie Copernicus Book';
    src: url('../fonts/GalaxieCopernicus-Book.eot')    
}

nav {
    background-color: #EC008C;
    height: 60px;
    width: 100vw;
}

a {
  text-decoration: none;
}

/* Main container */
.main-container {
    width: 100vw;
}



input:checked ~ nav .nav-hamburguer-icon .primary-nav {
    display: block;
    transform: none;
}

/* nav huge logo */ 
.nav-huge-image__item img {
    width: 60px;
    height: 20px;
    margin-right: 48px;
}

/* General styles */
.primary-nav a {
    color: #000;
}

/* Hamburguer nav Icon */
.nav-hamburguer-icon {    
    display: none;
    position: relative;
    top: 21px;
    left: 24px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    width: 90vw;
}

.nav-hamburguer-icon > span {    
    background: #FFF;
    display: block;
    height: 4px;
    margin-bottom: 4px;
    position: relative;
    width: 27px;
    transition: left;
}

input:checked ~ nav > .nav-hamburguer-icon > span {
    left: 95%;
}

input {    
    display: block;
    width: 28px;
    height: 21px;
    position: absolute;
    top: 21px;
    left: 23px;
    cursor: pointer;
    opacity: 0;
    transition: left;
    z-index: 2;
}

input:checked {
    left: 90%;
}


/* Desktop Image Container */

.desktop-image__container {
    position: relative;
}

.desktop__image {
    height: 100%;
    width: 100%;
}

.desktop-image__container-menu-active {
    opacity: 0.5;
}

input:checked ~ .main-content__container {
    /*transform: translate(73%, 240px);*/
    width: calc(100vw - 240px);
}

/* Media Querys */
@media screen and (max-width: 767px) {
    /* Main container */
    .main-container {
        max-width: 767px;
    }

    input:checked ~ nav .nav-huge-image__item {
        display: block;
        top: -40px;
        left: 24px;
        position: absolute;
    }

    input:checked ~ nav span:first-child {
        transform: rotate(45deg) translate(-2px, -1px);
        top: 9px;
    }

    input:checked ~ nav span:nth-last-child(3) {
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    input:checked ~ nav span:nth-last-child(2) {
        bottom: 8px;
        transform: rotate(-45deg) translate(0, -1px);
    }

    .nav-hamburguer-icon {    
        display: block;
    }
    /* Primary nav */
    .primary-nav {
        background-color: #FFF;
        border: 1px solid black;
        display: none;
        float: left;
        font-family: 'HUGE Avant Garde Bold';
        font-size: 21px;
        height: 100vh;
        padding-top: 12px;
        position: absolute;
        list-style: none;
        margin-left: -24px;
        margin-top: 15px;
        list-style-type: none;
        width: 73vw;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);  
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        transition: display;
    }

    .primary-nav .primary-nav__item {
        height: 48px;
        line-height: 48px;
        padding: 0 24px;
    }

    .primary-nav .primary-nav__item:hover {
        background: #EEE;        
    }

    .desktop-image__text {
        font-size: 44px;
        font-family: 'HUGE Avant Garde Bold';
        margin-bottom: 50px;
        text-align: center;
    }

    /* Main content container */
    .main-content__container {
        color: #000;
        float: right;

    }
}
